@charset "utf-8";


.catchcopy p {
 font-size: 30px;
 font-weight: 200;
 line-height: 33px;
 letter-spacing: 3px;
}

/* 更新情報 */
.news {
 width: 90%;
 margin: 0 auto;
}

.newslist {
 font-size: 16px;
 width: 100%;
}

.newslist dt, .newslist dd {
 padding: 15px 50px;
 border-bottom: 1px solid #ccc;
}

.newslist dt {
 width: 170px;
 float: left;
}

.newslist dd {
 margin-left: 270px;
}
